@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* 

----------- overriding user-agent styling --------------

*/

:root {
    --primary-color-01: hsl(31, 77%, 52%);
    --primary-color-02: hsl(184, 100%, 22%);
    --primary-color-03: hsl(179, 100%, 13%);

    --neutral-color-01: hsla(0, 0%, 100%, 0.75);
    --neutral-color-02: hsl(0, 0%, 95%);

    box-sizing: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

/* 

--------------- card styling ------------------

*/


.card {
    --background-color: darkgray;

    padding: 3em 2.96875em 3em 3.03125em; /* 48 / 16   |    47.5 / 16   |   48.5 / 16 */
    background-color: var(--background-color);
    color: white;
}

.card__media {
    margin: 0;
    width: 4em; /* 64 / 16 */
    height: 2.5em; /* 40 / 16 */

    background-image: linear-gradient(white, white);
}

.card__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.5rem; /* 40 / 16 */
    color: var(--neutral-color-02);

    margin-block: 0.875em 0.625em; /* 35 / 40     |    25 / 40 */
}

.card__content {
    font-size: 0.9375rem; /* 15 / 16 */
    line-height: 1.666666667; /* 25 / 15 */

    margin-block: 0 1.666666667em; /* 25 / 15 */
}

.card__cta-button {
    display: inline-block;
    font-size: 0.9375rem; /* 15 / 16 */
    padding: 0.966666667em 2.105466667em; /* Relative units for padding */

    background-color: white;
    border-radius: 2em;

    text-decoration: none;
    color: var(--background-color);
}