/*

Importing fonts

Overpass: 300, 600

    font-family: 'Overpass', sans-serif;

Ubuntu: 400, 500, 700

    font-family: 'Ubuntu', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');


:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


/* 

----------- styling button component ------------

*/

.button {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #FF505C;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1.75em; /* 28 ÷ 16 */
    width: 8.5625em; /* 137 ÷ 16 */
    height: 3em; /* 48 ÷ 16 */
    cursor: pointer;

    transition: all 265ms ease-in-out;
}

.button:hover {
    background-color: #FF7B86;
    color: white;
}

.button--backgroundless {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.button--backgroundless:hover {
    background-color: white;
    color: #FF7B86;
}

.button--mobile {
    background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
    border: 0;
    color: white;
}

.button--text {
    font-family: 'Overpass', sans-serif;
    font-size: 1.125rem; /* 18 / 16 */
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    color: #1F3E5A;
    border: none;
}

.button--text:hover {
    color: #1F3E5A;
    background-color: transparent;
}

@media screen and (min-width: 48em) { /* 768 ÷ 16 */
    .button--text {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }

    .button--text:hover {
        color: white;
    }

    .button--mobile {
        background: white; 
        color: #FF505C;
    }
}



/* 

----------- styling menu component ------------

*/


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
} 

.menu__logo {
    margin: 0;
    width: 5.1036875em; /* 81,659 ÷ 16 */ 
    height: 2em; /* 32 ÷ 16 */

    flex-shrink: 0;
}

.menu__logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu__icon {
    width: 2em;
    height: 1.125em; /* 18 ÷ 16 */
}

.menu__icon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 48em) { /* 768 ÷ 16 */
    .menu {
        gap: 4em; /* 64 ÷ 16 */
    }

    .menu__logo {
        width: 6.3125em; /* 101 ÷ 16 */
        height: 2.5em; /* 40 ÷ 16 */
    }
    
    .menu__icon {
        display: none;
    }
}


/* 

----------- styling nav component ------------

*/

.nav {
    display: none;
    position: absolute;
    z-index: 0;
    top: 100%;
    left: 0;
    right: 0;
    min-height: calc(100vh - 4.875em); /* 78 ÷ 16 */

    padding: 2.3125em 1.5em 0; /* 37 ÷ 16 | 24 ÷ 16 */

}

.nav > .wrapper {
    background-color: white;
    border-radius: 0.3125em; /* 5 ÷ 16 */
    padding: 1.5em 1.5em 2em; /* 32 ÷ 16 */

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 130ms ease-in 50ms;
}

.nav > .wrapper > ul {
    text-align: center;
    padding-bottom: 1.5em; /* 18 ÷ 16 */
    border-bottom: solid 1px  #E8E4E4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.333333333em; /* 24 ÷ 18 */

    opacity: 0;
    transition: opacity 130ms ease-in-out;
}

.nav > .wrapper > ul > li {
    width: 100%;
}

.nav > .wrapper > ul > li > button {
    font-size: 1.125em; /* 18 ÷ 16 */
    font-weight: 600;
    line-height: 155.556%;
    color: #1F3E5A;

    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav > .wrapper > ul > li > button > span {
    margin-left: 0.444444444em; /* 8 ÷ 18 */
}

.nav__sub {
    display: none;
    color: #1F3E5A;
    font-weight: 600;
    line-height: 175%;
    opacity: .75;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75em; /* 12 ÷ 16 */

    padding-block: 1.0625em 1.5625em; /* 17 ÷ 16 | 25 ÷ 16 */
    margin-top: 1.5em; /* 24 ÷ 16 */
    width: 100%;

    background-color: #E8E4E4;
    border-radius: 0.3125em; /* 5 ÷ 16 */
}

.nav__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 1.5em; /* 24 ÷ 16 */
    gap: 1.5em;

    opacity: 0;
    transition: opacity 130ms ease-in-out;
}


/*

----- clicked and hover states -------

*/

.nav.clicked {
    display: block;
}

.nav.clicked > .wrapper {
    transform: scaleY(1);
}

.nav.clicked > .wrapper > ul, 
.nav.clicked > .wrapper > .nav__cta {
    opacity: 1;
}

.nav > .wrapper > ul > li:hover > .wrapper--subnav > .nav__sub {
    display: flex;
}


@media screen and (min-width: 48em) { /* 768 ÷ 16 */
    .nav {
        position: unset;
        min-height: unset;
        padding: 0;

        width: 100%;
    }

    .nav > .wrapper {
        transform: scale(1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        background-color: transparent;
    }

    .nav > .wrapper > ul {
        opacity: 1;
        flex-direction: row;
        padding: 0;
        border: none;

        gap: 2em; /* 32 ÷ 16 */
    }

    .nav > .wrapper > ul > li {
        width: fit-content;
        position: relative;
        
    }

    .nav > .wrapper > ul > li > button {
        font-size: 1rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        color: white;

        line-height: normal;

        position: relative;
    }

    .nav > .wrapper > ul > li > button::before {
        content: '';
        position: absolute;
        top: 100%;
        width: 0;
        height: 2px;
        background-color: white;

        transition: width 265ms ease-in-out;
        transform-origin: left;
    }   

    .nav > .wrapper > ul > li > button > span {
        display: inline-block;

        margin-left: 0.5em; /* 8 ÷ 16 */
        width: 0.625em; /* 10 ÷ 16 */
        height: 0.4375em; /* 7 / 16 */

        background-image: url(./images/icon-arrow-light.svg);
        background-size: cover;

        transform: scaleY(1);
        transition: transform 265ms ease-in-out;
    }

    .wrapper--subnav {
        position: absolute;
        overflow: auto;
        top: 100%;

        margin-left: 1.5em; /* 24 ÷ 16 */

        transform: scaleY(0);

        transition: transform 165ms ease-in;
        transform-origin: top;
    }

    .nav__sub {
        font-size: 0.9375em;
        margin-top: 1.333333333em; /* 20 ÷ 15 */
        min-width: 11.2em; /* 168 ÷ 15 */
        align-items: flex-start;

        padding: 1.6em; /* 24 ÷ 15 */

        background-color: white;
        color: #2D2E40;

        opacity: 1;

        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;

        display: flex;
    }

    .nav__sub > li {
        opacity: 0;
        transition: opacity 165ms ease-in-out 50ms;
    }

    .nav__cta {
        opacity: 1;
        flex-direction: row;
        padding: 0;
    }


    /*
    
    ------ styling interaction states -------

    */

    .nav > .wrapper > ul > li:hover > button::before {
        width: 81%;
    }

    .nav > .wrapper > ul > li:hover > button > span {
        transform: scaleY(-1);
    }

    .nav > .wrapper > ul > li:hover > .wrapper--subnav {
        transform: scaleY(1);
    }

    .nav > .wrapper > ul > li:hover > .wrapper--subnav > .nav__sub > li {
        opacity: 1;
    }


    .nav__sub > li:hover > a {
        font-weight: 700;
    }
    
}


/* 

---------- hero section styling -----------

*/


.header {
    position: relative;
    padding: 3.5em 1.5em 9.75em; /* 56 ÷ 16 | 24 ÷ 16 | 156 ÷ 16 */
    border-radius: 0 0 0 6.25em; /* 100 ÷ 16 */

    background-image: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
    overflow: hidden;
}

.header::before {
    content: '';
    position: absolute;
    width: 44.385375em; /* 710,166 ÷ 16 */
    height: 44.697125em; /* 715,154 ÷ 16 */
    background-image: url(./images/bg-pattern-intro-mobile.svg);
    background-repeat: no-repeat;

    background-position: -20.875em -15.1875em; /* 334 ÷ 16 | 243 ÷ 16 */

    left: 0;
    top: 0;
}

.header > .wrapper {
    position: relative;
    z-index: 10;
}

.hero {
    margin-top: 6.75em; /* 108 ÷ 16 */
}

.hero__content {
    text-align: center;
    color: white;
    padding-inline: 0.625em; /* 10 ÷ 16 */
}

.hero__content > h1 {
    font-size: 2.25rem; /* 36 ÷ 16  */
    letter-spacing: -1.08px;
    margin: 0;
}

.hero__content > p {
    font-size: 1.125rem; /* 18 ÷ 16 */
    margin: 0;
}

.hero__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 3em; /* 48 ÷ 16 */
}


@media screen and (min-width: 44.4375em) { /* 711 ÷ 16 */
    .header::before {
        background-image: url(./images/bg-pattern-intro-desktop.svg);
        background-position: -438px -1341px;
        width: 106.5625em; /* 1705 ÷ 16 */
        height: 107.25em; /* 1716 ÷ 16 */
    }
}


@media screen and (min-width: 90em) { /* 1440 ÷ 16 */
    .header {
        padding: 3.9375em 0 9.6875em; /* 63 ÷ 16 | 155 ÷ 16 */
    }

    .header > .wrapper {
        width: 77.0833333%; /* 1110 ÷ 1440 */
        margin-inline: auto;
    }

    .hero {
        margin-top: 8.25em; /* 132 ÷ 16 */
    }
    
    .hero__content > h1 {
        font-size: 64px;
        letter-spacing: -1.92px;
    }

    .hero__content > p {
        font-size: 20px;
    }

    .hero__cta {
        margin-top: 43px;
    }
}