/*

Importing fonts

Overpass: 300, 600

    font-family: 'Overpass', sans-serif;

Ubuntu: 400, 500, 700

    font-family: 'Ubuntu', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');


:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}


/* 

----------- styling button component ------------

*/

.button {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #FF505C;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1.75em; /* 28 ÷ 16 */
    width: 8.5625em; /* 137 ÷ 16 */
    height: 3em; /* 48 ÷ 16 */
    cursor: pointer;

    transition: all 265ms ease-in-out;
}

.button:hover {
    background-color: #FF7B86;
    color: white;
}

.button--backgroundless {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.button--backgroundless:hover {
    background-color: white;
    color: #FF7B86;
}

.button--mobile {
    background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
    border: 0;
    color: white;
}

.button--text {
    font-family: 'Overpass', sans-serif;
    font-size: 1.125rem; /* 18 / 16 */
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    color: #1F3E5A;
    border: none;
}

.button--text:hover {
    color: #1F3E5A;
    background-color: transparent;
}

@media screen and (min-width: 48em) { /* 768 ÷ 16 */
    .button--text {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }

    .button--text:hover {
        color: white;
    }

    .button--mobile {
        background: white; 
        color: #FF505C;
    }
}



/* 

----------- styling menu component ------------

*/


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
} 

.menu__logo {
    margin: 0;
    width: 5.1036875em; /* 81,659 ÷ 16 */ 
    height: 2em; /* 32 ÷ 16 */

    flex-shrink: 0;
}

.menu__logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu__icon {
    width: 2em;
    height: 1.125em; /* 18 ÷ 16 */
}

.menu__icon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 48em) { /* 768 ÷ 16 */
    .menu {
        gap: 4em; /* 64 ÷ 16 */
    }

    .menu__logo {
        width: 6.3125em; /* 101 ÷ 16 */
        height: 2.5em; /* 40 ÷ 16 */
    }
    
    .menu__icon {
        display: none;
    }
}


/* 

----------- styling nav component ------------

*/

.nav {
    display: block;
    position: absolute;
    z-index: 0;
    top: 100%;
    left: 0;
    right: 0;

    padding: 2.3125em 1.5em 0; /* 37 ÷ 16 | 24 ÷ 16 */

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 165ms ease-in-out 50ms;
}

.nav > .wrapper {
    background-color: white;
    border-radius: 0.3125em; /* 5 ÷ 16 */
    padding: 1.5em 1.5em 2em; /* 32 ÷ 16 */
}

.nav > .wrapper > ul {
    text-align: center;
    padding-bottom: 1.5em; /* 18 ÷ 16 */
    border-bottom: solid 1px  #E8E4E4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.333333333em; /* 24 ÷ 18 */

    opacity: 0;
    transition: opacity 130ms ease-in-out;
}

.nav > .wrapper > ul > li {
    width: 100%;
}

.nav > .wrapper > ul > li > button {
    font-size: 1.125em; /* 18 ÷ 16 */
    font-weight: 600;
    line-height: 155.556%;
    color: #1F3E5A;

    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav > .wrapper > ul > li > button > span {
    margin-left: 0.444444444em; /* 8 ÷ 18 */
}

.nav__sub {
    display: none;
    color: #1F3E5A;
    font-weight: 600;
    line-height: 175%;
    opacity: .75;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75em; /* 12 ÷ 16 */

    padding-block: 1.0625em 1.5625em; /* 17 ÷ 16 | 25 ÷ 16 */
    margin-top: 1.5em; /* 24 ÷ 16 */
    width: 100%;

    background-color: #E8E4E4;
    border-radius: 0.3125em; /* 5 ÷ 16 */
}

.nav__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 1.5em; /* 24 ÷ 16 */
    gap: 1.5em;

    opacity: 0;
    transition: opacity 130ms ease-in-out;
}


/*

----- clicked and hover states -------

*/

.nav.clicked {
    transform: scaleY(1);
}

.nav.clicked > .wrapper > ul, 
.nav.clicked > .wrapper > .nav__cta {
    opacity: 1;
}

.nav > .wrapper > ul > li:hover > .wrapper--subnav > .nav__sub {
    display: flex;
}


@media screen and (min-width: 48em) { /* 768 ÷ 16 */
    .nav {
        position: unset;
        min-height: unset;
        padding: 0;

        width: 100%;
        transform: scaleY(1);
    }

    .nav > .wrapper {
        transform: scale(1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        background-color: transparent;
    }

    .nav > .wrapper > ul {
        opacity: 1;
        flex-direction: row;
        padding: 0;
        border: none;

        gap: 2em; /* 32 ÷ 16 */
    }

    .nav > .wrapper > ul > li {
        width: fit-content;
        position: relative;
        
    }

    .nav > .wrapper > ul > li > button {
        font-size: 1rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        color: white;

        line-height: normal;

        position: relative;
    }

    .nav > .wrapper > ul > li > button::before {
        content: '';
        position: absolute;
        top: 100%;
        width: 0;
        height: 2px;
        background-color: white;

        transition: width 265ms ease-in-out;
        transform-origin: left;
    }   

    .nav > .wrapper > ul > li > button > span {
        display: inline-block;

        margin-left: 0.5em; /* 8 ÷ 16 */
        width: 0.625em; /* 10 ÷ 16 */
        height: 0.4375em; /* 7 / 16 */

        background-image: url(./images/icon-arrow-light.svg);
        background-size: cover;

        transform: scaleY(1);
        transition: transform 265ms ease-in-out;
    }

    .wrapper--subnav {
        position: absolute;
        overflow: auto;
        top: 100%;

        margin-left: 1.5em; /* 24 ÷ 16 */

        transform: scaleY(0);

        transition: transform 165ms ease-in;
        transform-origin: top;
    }

    .nav__sub {
        font-size: 0.9375em;
        margin-top: 1.333333333em; /* 20 ÷ 15 */
        min-width: 11.2em; /* 168 ÷ 15 */
        align-items: flex-start;

        padding: 1.6em; /* 24 ÷ 15 */

        background-color: white;
        color: #2D2E40;

        opacity: 1;

        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;

        display: flex;
    }

    .nav__sub > li {
        opacity: 0;
        transition: opacity 165ms ease-in-out 50ms;
    }

    .nav__cta {
        opacity: 1;
        flex-direction: row;
        padding: 0;
    }


    /*
    
    ------ styling interaction states -------

    */

    .nav > .wrapper > ul > li:hover > button::before {
        width: 81%;
    }

    .nav > .wrapper > ul > li:hover > button > span {
        transform: scaleY(-1);
    }

    .nav > .wrapper > ul > li:hover > .wrapper--subnav {
        transform: scaleY(1);
    }

    .nav > .wrapper > ul > li:hover > .wrapper--subnav > .nav__sub > li {
        opacity: 1;
    }


    .nav__sub > li:hover > a {
        font-weight: 700;
    }
    
}


/* 

---------- hero section styling -----------

*/


.header {
    position: relative;
    padding: 3.5em 1.5em 9.75em; /* 56 ÷ 16 | 24 ÷ 16 | 156 ÷ 16 */
    border-radius: 0 0 0 6.25em; /* 100 ÷ 16 */

    background-image: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
    overflow: hidden;
}

.header::before {
    content: '';
    position: absolute;
    width: 44.385375em; /* 710,166 ÷ 16 */
    height: 44.697125em; /* 715,154 ÷ 16 */
    background-image: url(./images/bg-pattern-intro-mobile.svg);
    background-repeat: no-repeat;

    background-position: -20.875em -15.1875em; /* 334 ÷ 16 | 243 ÷ 16 */

    left: 0;
    top: 0;
}

.header > .wrapper {
    position: relative;
    z-index: 10;

    max-width: 69.375em; /* 1110 ÷ 16 */
    margin-inline: auto;
}

.hero {
    margin-top: 6.75em; /* 108 ÷ 16 */
}

.hero__content {
    text-align: center;
    color: white;
    padding-inline: 0.625em; /* 10 ÷ 16 */
}

.hero__content > h1 {
    font-size: 2.25rem; /* 36 ÷ 16  */
    letter-spacing: -1.08px;
    margin: 0;
}

.hero__content > p {
    font-size: 1.125rem; /* 18 ÷ 16 */
    margin: 0;
}

.hero__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 3em; /* 48 ÷ 16 */
}


@media screen and (min-width: 44.4375em) { /* 711 ÷ 16 */
    .header {
        padding-block: clamp(3.5em, calc(3.5em + 0.4861111vw), 3.9375em) 9.6875em; /* 63 ÷ 16 | 155 ÷ 16 */
    }

    .header::before {
        background-image: url(./images/bg-pattern-intro-desktop.svg);
        background-position: -27.375em -83.8125em; /* 438 ÷ 16 | 1341 ÷ 16 */
        width: 106.5625em; /* 1705 ÷ 16 */
        height: 107.25em; /* 1716 ÷ 16 */
    }

    .hero {
        margin-top: clamp(6.75em, calc(6.75em + 1.6666667vw), 8.25em); /* 132 ÷ 16 */
    }

    .hero__content > h1 {
        font-size: clamp(2.25rem, calc(2.25rem + 1.9444444vw), 4rem); /* 28 ÷ 1440 | 64 ÷ 16 */
        letter-spacing: -1.92px;
    }

    .hero__content > p {
        font-size: clamp(1.125rem, calc(1.125rem + 0.1388889vw), 1.25rem); /* 20 ÷ 16 */
    }

    .hero__cta {
        margin-top: 2.6875em; /* 43 ÷ 16 */
    }
}



/* 

---------- intro section styling -----------

*/


.intro {
    margin-top: 6.25em; /* 100 ÷ 16 */
    padding-inline: 1.5em; /* 24 ÷ 16 */

    text-align: center;
}

.intro > .wrapper {
    max-width: 43.0625em; /* 689 ÷ 16 */
    margin-inline: auto;
}

.intro__heading > h2 {
    font-size: 1.75rem; /* 28 ÷ 16 */
    letter-spacing: -0.84px; 
    color: #1F3E5A;
    margin: 0;
}

.intro__media {
    margin-top: 2.375em; /* 38 ÷ 16 */

    max-width: 20.375em;
    min-height: 20.375em; 
    background: url(./images/illustration-editor-mobile.svg) center/cover no-repeat;

    margin-inline: auto;
}

.intro__content {
    margin-top: 2.875em; /* 46 ÷ 16 */
}

.intro__content__p {
    padding-inline: 0.5625em; /* 9 ÷ 16 */
}

.intro__content__p > h3 {
    font-size: 1.75rem; /* 28 ÷ 16 */
    line-height: 114.286%;
    color: #1F3E5A;

    margin-block: 0;
}

.intro__content__p > p {
    margin-block: 1em 0;

    line-height: 175%;
    letter-spacing: 0.5px;
    color: #4C5862;
}


@media screen and (min-width: 59.9375em) { /* 959 ÷ 16  */

    .intro {
        padding-inline: clamp(2em, calc(2em + 3.0833333vw), 6em); /* 32 ÷ 16 | 69 ÷ 16 | (69 - 32) ÷ 1200 */
        margin-top: 4.4375em; /* 71 ÷ 16 */
        min-height: clamp(51.5em, calc(51.5em + 4.0277778vw), 55.125em); /* 824 ÷ 16 | 882 ÷ 16 */

        overflow: hidden;
    }

    .intro > .wrapper {
        max-width: 69.375em; /* 1110 ÷ 16 */
        margin-inline: auto;
        margin-top: 4.4375em; /* 71 ÷ 16 */
    }

    .intro__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 1.875em; /* 30 ÷ 16 */    
        row-gap: 5.8125em;  /* 93 ÷ 16 */ 
    }

    .intro__heading {
        grid-column: 1 / 13;
        order: 1;
    }

    .intro__heading > h2 {
        font-size: 2.5rem; /* 40 ÷ 16 */
        font-size: clamp(1.75rem, calc(1.75rem + 0.8333333vw), 2.5rem); /* 40 ÷ 16  */
        letter-spacing: -1.2px;
    }

    .intro__media {
        grid-column: 8 / 13;
        order: 3;
        position: relative;
        margin-top: 0;

        min-height: 25.73825em; /* 411,812 ÷ 16 */
        max-width: unset;

        background: unset;
        margin-inline: unset;
    }

    .intro__media::before {
        content: '';
        position: absolute;
        width: clamp(43.75em, calc(43.75em + 15.625vw), 57.8125em); /* 700 ÷ 16 | 925 ÷ 16 */
        height: clamp(40.1875em, calc(40.1875em + 16.5972222vw), 55.125em);  /* 643 ÷ 16 | 882 ÷ 16 */

        overflow: visible;

        background: url(./images/illustration-editor-desktop.svg) center/contain no-repeat;

        transform: translateY(-50%);
        left: -10%;
        top: clamp(12.592975em, calc(12.592975em + 1.7933611vw), 14.207em); /* 201,4876 ÷ 16  | 227.312 ÷ 16 */
    }

    .intro__content {
        grid-column: 1 / 7;
        margin: 0;
        order: 2;

        text-align: left;
    }

    .intro__content__p {
        padding: 0;
    }

}


/* 

---------- intro section styling -----------

*/

.infra {
    margin-top: 17.0625em; /* 273 ÷ 16 */
}

.infra__intro {
    position: relative;
    padding: 13.8125em 1.5em 6.8125em; /* 221 ÷ 16 | 24 ÷ 16 | 109 ÷ 16 */
    border-radius: 0 6.25em; /* 100 ÷ 16 */

    background: url(images/bg-pattern-circles.svg) center -17.0625em/37.625em 37.75em no-repeat, /* 273 ÷ 16 |  602 ÷ 16 |  604 ÷ 16 */
                linear-gradient(135deg, #2D2E40 0%, #3F4164 100%) center top/cover;

}

.infra__intro > .wrapper {
    max-width: 43.9375em; /* 703 ÷ 16 */
    margin-inline: auto;
}

.infra__intro__media {
    position: absolute;
    width: 20.5em; /* 328 ÷ 16 */
    height: 21.6875em; /* 347 ÷ 16 */

    background: url(./images/illustration-phones.svg) center/105% no-repeat;

    transform: translate(-50%, -50%);

    left: 50%;
    top: 0;
}

.infra__intro__content {
    text-align: center;
    color: white;
}

.infra__intro__content > h2 {
    font-size: 2.5rem; /* 40 ÷ 16 */ 
    letter-spacing: -1.2px;
    margin: 0;
}

.infra__intro__content > p {
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.5px;

    margin-block: 0.625em 0; /* 10 ÷ 16 */
}

@media screen and (min-width: 59.9375em) { /* 959 ÷ 16  */
    .infra {
        margin-top: 7.5em; /* 120 ÷ 16 */
    }
}


@media screen and (min-width: 64em) { /* 1024 ÷ 16  */ 

    .infra {
        margin-top: 3.5625em; /* 57 ÷ 16 */
    }

    .infra__intro {
        /* padding: 6.9375em 0; /* 111 ÷ 16 */
        padding: clamp(2.5em, calc(2.5em + 4.9305556vw), 6.9375em) clamp(2em, calc(2em + 3.0833333vw), 6em); /* 40 ÷ 16 |  111 ÷ 16 */

        background: url(images/bg-pattern-circles.svg) -13.3125em -31.8125em/63.375em 63.625em no-repeat, /* 213 ÷ 16 | 509 ÷ 16 |  1014 ÷ 16 |  1018 ÷ 16 */
                linear-gradient(135deg, #2D2E40 0%, #3F4164 100%) center top/cover;
    }

    .infra__intro > .wrapper {
        max-width: 69.375em; /* 1110 ÷ 16 */
    }

    .infra__intro__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 1.875em; /* 30 ÷ 16 */
    }

    .infra__intro__media {
        position: relative;
        grid-column: 1 / 6;

        transform: unset;
        background: unset;
        left: 0;
        width: unset;
        height: 100%;
    }

    .infra__intro__media::before {
        content: '';
        position: absolute;
        /* width: 34.5em; /* 552 ÷ 16 */
        /* height: 36.1875em; /* 579 ÷ 16 */
        width: clamp(26.875em, calc(26.875em + 8.4722222vw), 34.5em); /* 430 ÷ 16 | 552 ÷ 16 */
        height: clamp(26.875em, calc(26.875em + 10.3472222vw), 36.1875em); /* 430 ÷ 16 |  579 ÷ 16 */

        background-image: url(./images/illustration-phones.svg);
        background-size: cover;
        background-repeat: no-repeat;

        transform: translateY(-50%);
        /* left: -9%;
        top: 62%; */
        left: -10%;
        top: 7.215em; /* 115,44 ÷ 16 */
    }

    .infra__intro__content {
        grid-column: 7 / 13;
        text-align: left;
    }
}

@media screen and (min-width: 74.3125em) { /* 1189 ÷ 16 */
    .infra__intro__media::before {
        top: 6.665em; /* 106,64 ÷ 16 */
    }
}


/* ------------ service section styling -------------- */


.infra__service {
    margin-top: 4.9375em; /* 79 ÷ 16 */
}

.infra__service > .wrapper {
    max-width: 46.625em; /* 746 ÷ 16 */
    margin-inline: auto;
}

.infra__service__media {
    width: 20.375em; /* 326 ÷ 16 */
    height: 20.375em; /* 326 ÷ 16 */
    margin-inline: auto;
    background: url(./images/illustration-laptop-mobile.svg) center/cover no-repeat;
}

.infra__service__content {
    margin-top: 2.875em; /* 46 ÷ 16 */
    padding-inline: 1.5em; /* 24 ÷ 16 */
}

.infra__service__content__p {
    text-align: center;
}

.infra__service__content__p > h3 {
    font-size: 1.75rem; /* 28 ÷ 16 */
    color: #1F3E5A;
    line-height: 114.286%;
    margin: 0;
}

.infra__service__content__p > p {
    color: #4C5862;
    font-weight: 400;
    line-height: 175% ;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

@media screen and (min-width: 64em) { /* 1024 ÷ 16  */ 
    .infra__service {
        margin-top: 7.25em; /* 116 ÷ 16 */
        min-height: 49.125em; /* 786 ÷ 16 */

        display: flex;
        align-items: center;
        padding: clamp(2.5em, calc(2.5em + 4.9305556vw), 6.9375em) clamp(2em, calc(2em + 3.0833333vw), 6em); /* 40 ÷ 16 |  111 ÷ 16 */
    }

    .infra__service > .wrapper {
        max-width: 69.375em; /* 1110 ÷ 16 */
    }

    .infra__service__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 1.875em; /* 30 ÷ 16 */
    }

    .infra__service__media {
        grid-column: 1 / 6;

        position: relative;

        width: unset;
        height: unset;
        margin-inline: unset;
        background: unset;
    }

    .infra__service__media::before {
        content: '';
        position: absolute;
        width: 60.875em; /* 974 ÷ 16 */
        height: 49.125em; /* 786 ÷ 16 */

        transform: translateY(-50%);

        background-image: url(./images/illustration-laptop-desktop.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        right: -19%;
        top: 50%;
    }

    .infra__service__content {
        grid-column: 7 / 13;
        padding-inline: 0;
        margin-top: 0;
    }

    .infra__service__content__p {
        text-align: left;
    }
}


/* 

---------- footer section styling -----------

*/


.footer {
    margin-top: 6.25em; /* 100 ÷ 16 */
    padding: 4.6875em 1.5em; /* 75 ÷ 16 | 24 ÷ 16 */

    border-radius: 0 6.25em 0 0; /* 100 ÷ 16 */
    background-color: #24242C;
}

.footer__logo {
    margin: 0 auto;
    width: 6.3125em; /* 101 ÷ 16 */
    height: 2.5em; /* 40 ÷ 16 */
}

.footer__logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__nav {
    font-size: 1.125em; /* 18 ÷ 16 */
    margin-top: 4em; /* 72 ÷ 18 */
    text-align: center;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 183.333%;
    color: white;
}

.footer__nav > ul + ul {
    margin-top: 2.222222222em; /* 40 ÷ 18 */
}

.footer__nav__heading {
    font-weight: 500;
    margin-bottom: 1.166666667em; /* 21 ÷ 18 */
}

.footer__nav > ul > li > a {
    position: relative;
    opacity: 0.75;
}

.footer__nav > ul > li > a::before {
    content: '';
    position: absolute;
    top: 100%;
    height: 2px;
    left: 0;
    width: 0;
    background-color: white;

    transform-origin: left;
    transition: width 165ms ease-in-out;
}

.footer__nav > ul > li:hover > a::before {
    width: 100%;
}

@media screen and (min-width: 640px) {
    .footer > .wrapper {
        display: flex;
        gap: 16.5765766%; /* 184 ÷ 1110 */

        max-width: 50.75em; /* 812 ÷ 16 */
        margin-inline: auto;
    }

    .footer__logo {
        margin: 0;
    }

    .footer__nav {
        display: flex;
        justify-content: space-around;
        gap: 2.7027027%; /* 30 ÷ 1110 */

        flex-grow: 1;

        text-align: left;
        margin-top: 0;
    }

    .footer__nav > ul + ul {
        margin-top: 0;
    }

    .footer__nav > ul > li {
        width: fit-content;
    }
}

@media screen and (min-width: 1212px) {
    .footer {
        margin-top: 7.6875em; /* 123 ÷ 16 */
        padding: 4.375em 0; /* 70 ÷ 16 */
    }

    .footer > .wrapper {
        max-width: 69.375em; /* 1110 ÷ 16 */
    }

    .footer__nav > ul {
        width: 14.166666667em; /* 255 ÷ 18 */
    }

    
}


/* 

---------- utility classes -----------

*/

.spacing--paragraph {
    margin-top: 2.5em; /* 40 ÷ 16 */
} 


@media screen and (min-width: 54.5em) { /* 872 ÷ 16  */
    .spacing--paragraph {
        margin-top: clamp(2.5em, calc(2.5em + 1.6666667vw), 4em); /* 64 ÷ 16 */
    } 
}
