/*

Importing fonts

Overpass: 300, 600

    font-family: 'Overpass', sans-serif;

Ubuntu: 400, 500, 700

    font-family: 'Ubuntu', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');


:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    background-color: black;
}


/* 

----------- styling button component ------------

*/

.button {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #FF505C;
    background-color: white;
    border: 1px solid white;
    border-radius: 1.75em; /* 28 / 16 */
    padding: 0.859375em 0.97803125em; /* 13,75 / 16 |  15,6485 / 16*/
    margin-top: 10px;
    cursor: pointer;

    transition: all 265ms ease-in-out;
}

.button:hover {
    background-color: #FF7B86;
    color: white;
}

.button--backgroundless {
    background-color: transparent;
    color: white;
}

.button--backgroundless:hover {
    background-color: white;
    color: #FF7B86;
}