
/* 

    Importing font Red hat:

    font-family: 'Red Hat Display', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

:root {
    --primary-color: #4D96A9;
    --primary-text-color: #28283D;

    --secondary-color: #855FB1;
    --secondary-text-color: #87879D;

    --primary-lighter: #8FE3F9;
    --secondary-lighter: #D9B8FF;
    
    --primary-hover-color: #71C0D4;
    --secondary-hover-color: #B18BDD;
    
    --background-color: #FAFAFA;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    line-height: 162.5%;
    font-weight: 500;

    text-align: center;

    color: var(--secondary-text-color, #87879D);
}

h1 {
    font-size: 2.5rem; /* 40 / 16 */
    font-weight: 900;
    line-height: 110%;

    color: var(--primary-text-color, #28283D);
}

h2 {
    font-size: 2rem; /* 32 / 16 */
    font-weight: 900;
    line-height: 112.5%;

    color: var(--primary-text-color, #28283D);
}

@media screen and (min-width: 48em) { /* 768 / 16 */
    h1 {
        font-size: 3rem; /* 48 / 16 */
        line-height: 100%;
    }

    h2 {
        font-size: 2.5rem; /* 40 / 16 */
        line-height: 110%;
    }
}

@media screen and (min-width: 90em) { /* 1440 / 16 */

    body {
        font-size: 1.125rem; /* 18 / 16 */
        line-height: 144.444%;
    }
    
    h1 {
        font-size: 4rem; /* 64 / 16 */
    }
}

/* 

    button component

*/


.button {
    padding: 1.2381em 2.2197em;
    border: none;
    border-radius: 1.8125em; /* 29 / 16 */
    background-color: var(--primary-color, #4D96A9);
    color: var(--background-color, #FAFAFA);

    font-weight: 900;
    cursor: pointer;

    transition: background-color 165ms ease-in-out;
}

.button > span {
    color: var(--primary-lighter, #8FE3F9);
}

.button:hover {
    background-color: var(--primary-hover-color, #71C0D4);
}



/*

    utility classes

*/

.section-space {
    margin-top: 4em; /* 64 / 16 */ 
}

@media screen and (min-width: 48em) { /* 768 / 16 */
    .section-space {
        margin-top: 5em; /* 80 / 16 */ 
    } 
}

@media screen and (min-width: 90em) { /* 1440 / 16 */
    .section-space {
        margin-top: 6.5em; /* 117 / 18 */
    }

    .section-space--smaller {
        margin-top: 4em; /* 72 / 18 */
    }
}