
:root {
    --primary-color: #4D96A9;
    --primary-text-color: #28283D;

    --secondary-color: #855FB1;
    --secondary-text-color: #87879D;
    
    --primary-hover-color: #8FE3F9;
    --secondary-hover-color: #D9B8FF;
    
    --background-color: #FAFAFA;

}