@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #FFF7F0;
    color: #7A746E;

    line-height:  162.5%;
    font-weight: 500;
}

@media screen and (min-width: 48em) { /* 768 / 16 */
    body {
        font-size: 1.125rem; /* 18 / 16 */
        line-height: 155.556%;
    }
}

/* 

------------- button component -------------

*/

.button {
    border: 0;
    font-size: 0.875rem; /* 14 / 16 */
    padding: 0.996642857em 2.05775em; /* 13,953 / 14 | 28,8085 / 14 */
    border-radius: 2em; /* 28 / 14 */
    color: #FFF7F0;
    cursor: pointer;

    transition: background-color 165ms ease-in-out;
}

.button--primary {
    background-color: #030303;
}

.button--primary:hover {
    background-color: #755CDE;
}

.button--primary--arrow {
    font-size: 1rem;
    padding: 0;
    width: 4em; /* 64 / 16 */
    height: 4em; /* 64 / 16 */
    border-radius: 50%;
}

.button--primary--arrow > img {
    width: 23.140625%; /* 14.81 / 64 */
    height: 25%; /* 16 / 64 */
}

.button--secondary {
    background-color: #EB7565;
}

.button--secondary:hover {
    background-color: #F6A560;
}

@media screen and (min-width: 48em) { /* 768 / 16 */ 
    .button {
        font-size: 1rem;
        padding: 1.17584375em 2.89709375em; /* 18,8135 / 16  |  46,3535 / 16 */
    }

    .button--primary--arrow {
        padding: 0;
    }
}


/*


------------ cta navigation component -------------


*/

.cta-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-nav__logo {
    width: 3em; /* 48 / 16 */
    height: 3em;
    padding: 0;
    margin: 0;
}

.cta-nav__logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 48em) { /* 768 / 16 */
    .cta-nav__logo {
        width: 3.555555556em; /* 64 / 18 */
        height: 3.555555556em;
    }
}

/*

------------ occupation component -------------

*/
.occupation {
    font-size: 1rem;
    display: grid;
    row-gap: 1.5em; /* 24 / 16 */

    /* 364 / 16    |   182 / 16    |   158 / 16 */
    grid-template-rows: 22.75em 11.375em 9.875em 11.375em 11.375em;
}

.occupation__card {
    font-size: 1.5rem; /* 24 / 16 */
    padding: 1em;
    border-radius: 0.333333333em; /* 8 / 24 */

    display: flex;
    align-items: flex-end;
}

.occupation__card__text {
    margin: 0;
    color: #FFF;
}

.occupation__card--graphic-design {
    background: #755CDE url(./assets/pattern-graphic-design.svg) no-repeat top 1em right 1em;
}

.occupation__card--double {
    gap: 1.041666667em; /* 25 / 24 */
    padding: 0;
}

.occupation__card--double__ui-ux,
.occupation__card--double__apps {
    flex-grow: 1;
    width: 100%;
    height: 100%;

    border-radius: 0.333333333em; /* 8 / 24 */
    padding: 1em;

    display: flex;
    align-items: flex-end;
}

.occupation__card--double__ui-ux {
    background: #F6A560 url(./assets/pattern-ui-ux.svg) no-repeat top 1em right 1em; 
}

.occupation__card--double__apps {
    background: #F39E9E url(./assets/pattern-apps.svg) no-repeat top 1em right 1em;
}

.occupation__card--illustrations {
    background: #EB7565 url(./assets/pattern-illustrations.svg) no-repeat top 1em right 1em;
}

.occupation__card--photography {
    background: #61C4B7 url(./assets/pattern-photography.svg) no-repeat top 1em right 1em;
}

.occupation__card--motion-graphics {
    background: #552049 url(./assets/pattern-motion-graphics.svg) no-repeat top 1em right 1em;
}

@media screen and (min-width: 48em) { /* 768 / 16 */ 
    .occupation {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: 11.375em 9.875em 11.375em; /* 182 / 16  |   158 / 16 */
        gap: 1.5em; /* 24 / 16 */
    }

    .occupation__card--graphic-design {
        grid-row: 1 / 3;
    }
}

@media screen and (min-width: 90em) { /* 1440 / 16 */
    .occupation {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 11.375em 9.875em; /* 182 / 16  |   158 / 16 */
    }

    .occupation__card--illustrations {
        grid-row: 2 / 3;
    }
}


/*

------------ styling hero section -------------

*/

.hero {
    padding: 1em 1em 0; 
    text-align: center;
    margin-inline: auto;
}

.hero__content {
    margin-top: 2em; /* 32 / 16 */
    max-width: 38.75em; /* 620 / 16 */
    margin-inline: auto;
}

.hero__content > p {
    padding-inline: 1.8125em; /* 29 / 16 */
    margin-block: 1em 2em;
}

.hero > .occupation {
    max-width: 32.25em; /* 500 / 16 */
    margin-inline: auto;
}

@media screen and (min-width: 48em) { /* 768 / 16 */ 
    .hero {
        padding: 2.166666667em 2.166666667em 0; /* 39 / 18 */
        max-width: 61.666666667em; /* 1110 / 18 */
    }

    .hero__content {
        margin-top: 3.555555556em; /* 64 / 18 */
        max-width: 41.722222222em; /* 751 / 18 */
    }

    .hero__content > p {
        padding-inline: 3.25em; /* 58.5 / 18 */
        margin-block: 1.5em 3.555555556em; /* 27 / 18  |  64 / 18 */
    }

    .hero > .occupation {
        max-width: 60.3125em; /* 965 / 16 */
    }
}

@media screen and (min-width: 90em) { /* 1440 / 16 */
    .hero {
        padding: 1.888888889em 0 0; /* 34 / 18 */
    }

    .hero__content {
        margin-top: 3.666666667em; /* 66 / 18 */
    }

    .hero__content > p {
        padding-inline: 0.611111111em; /* 11 / 18 */
        margin-block: 1.277777778em 4.444444444em; /* 23 / 18  |   80 / 18 */
    }

    .hero > .occupation {
        max-width: unset;
    }
}

/*

------------ about section styling -------------

*/
.about {
    text-align: center;
    padding: 1em 1em 0;
    max-width: 28.4375em; /* 455 / 16 */
    margin-inline: auto;
}

.about__media__portrait {
    width: 18.75em; /* 300 / 16 */
    height: 18.75em;
    margin: 0 auto;
}

.about__media__portrait > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__content {
    margin-top: 2.5em; /* 40 / 16 */
}

.about__content > p {
    margin-block: 1.5em; /* 24 / 16 */
}


/*

---------- utility classes -----------

*/

.heading {
    color: #030303;
    margin: 0;
    font-weight: 700;
    line-height: normal;
}

.heading--large { font-size: 2.25rem; } /* 36 / 16 */
.heading--medium { font-size: 1.625rem; } /* 26 / 16 */
.heading--small { font-size: 1.5rem; } /* 24 / 16 */

@media screen and (min-width: 48em) { /* 768 / 16 */
    .heading--large { font-size: 2.75rem; } /* 44 / 16 */
    .heading--medium { font-size: 2rem; } /* 32 / 16 */
    .heading--small { font-size: 32rem; }
}

@media screen and (min-width: 90em) { /* 1440 / 16 */
    .heading--large { font-size: 3.25rem; } /* 52 / 16 */
    .heading--medium { font-size: 2.5rem; } /* 40 / 16 */
}

/* spacing utility class */

.section-space { margin-top: 6.25em; } /* 100 / 16 */

@media screen and (min-width: 48em) { /* 768 / 16 */ 
    .section-space { margin-top: 6.666666667em; } /* 120 / 18 */
}

@media screen and (min-width: 90em) { /* 1440 / 16 */ 
    .section-space { margin-top: 4.888888889em; } /* 88 / 18 */
    .section-space--large {
        margin-top: 7.555555556em; /* 136 / 18 */
    }
}