@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --primary-color: hsl(25, 97%, 53%);

    --neutral-color-01: hsl(0, 0%, 100%);
    --neutral-color-02: hsl(217, 12%, 63%);
    --neutral-color-03: hsl(216, 12%, 54%);
    --neutral-color-04: hsl(213, 19%, 18%);
    --neutral-color-05: hsl(216, 12%, 8%);

    box-sizing: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

main {
    overflow: auto;
    width: 100vw;
    min-height: 100vh;

    background-color: var(--neutral-color-05);
}

/*

------------- card component styling --------------

*/

