
.color-panel {
    display: flex;
    gap: 10px;

    width: 100%;
    height: 200px;

    margin: 0;
    padding: 0;
}

.color-panel > li {
    flex: 1 0 0;
}

.color-panel > li > div {
    width: 100%;
    height: 100%;
}
